/*new year section styles*/
.header{
    background-image: url('../b9-a1-images/Banner\ Image.png');
    width: 1350px;
    height: 550px;
    border-radius: 15px;
   



}
.small-h{
    text-align: center;
    color: bisque;
    font-size: 25px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 150px;
    
}
 .big-h{
    text-align: center;
    color: bisque;
    font-size: 65px;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 600px;
    margin-left: 380px;
    background: linear-gradient(180deg, #05010c 0%, rgba(7, 2, 17, 0.00) 100%);
 }

 .new-year{
    background-color: white;
    border-radius: 20px;
    margin: 110px auto;
    width: 600px;
    height: 520px;
 }
 .off{
    color: red;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 65px;
    font-weight: 600;
}

.holiday{
    color: #F00;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.categories{
    color: #060111;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
    font-weight: 800;
}

.image{
    margin-left: 180px;
}

.midnight-party{
    background-image: url('../b9-a1-images/Vectorrr.png');
    width: 1350px;
    height: 550px;

}
